/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
AUTHENTICATION_MODULE.md
LANDING_PAGE_IMPLEMENTATION.md
.docx
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
