/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
AUTHENTICATION_MODULE.md
LANDING_PAGE_IMPLEMENTATION.md
Dokumentasi_Modul_SIMPA.docx
Dokumentasi_Modul_SIMPA_Update.md
generate_docs.py
Panduan_Git_GitHub.md
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

